<div class="breadcrumbs"> 
  <h1 class="page_title">Stores</h1>
  <div class="add_new">
    <a ui-sref="dashboard.branchAdd"><i class="fa fa-plus"></i> Create Location</a>
  </div>
  <div class="add_new">
    <a ui-sref="dashboard.storeAdd"><i class="fa fa-plus"></i> Create Store</a>
  </div>
</div>
<div class="content_body">
<div id="list-table" class="store_list">
  <div class="filter_table form-group col-xs-12">
    <div class="form-group store_ctgry_dd select_location">
        <label class="">Category</label>
        <div class="location">
          <select class="form-control" ng-options="cat as cat for cat in categoryList" ng-model="category" ng-change="getCategoryWiseStore()">
            <option value="">Select one</option> 
          </select>
        </div>                
    </div>
    <button class="export_bttn pull-right" ng-click="createExcelFile()">Export <i class="fa fa-share"></i></button>
    <div class="search pull-right">
      <label></label>
      <input type="text" class="form-control" ng-model="searchText" placeholder="Search Stores" />
      <i class="fa fa-search" ng-click="searchStore()"></i>
    </div>
  </div>  
<!--  <div class="tablt_title_cont">
    <h4 class="tablt_title">Stores</h4>
    <div class="form-group export_btn">
      <button class="" ng-click="createExcelFile()">Export <i class="fa fa-share"></i></button>
    </div>
  </div>-->
  <table  class="list-table display dataTable">
    <thead >
      <tr >
        <th>S. No.</th>
        <th>Store ID</th>
        <th>Store Name</th>
        <th>Category</th>
        <th>Locations</th>
        <th>Cards Sold</th>
        <th>Sales</th>
        <th>Redeemed Amount</th>
        <th>Balance Amount</th>
        <th>Amount Paid-Out</th>
        <th>Earnings</th>
        <th  class="action">Action</th>
      </tr>
    </thead>
    <tbody >
      <tr dir-paginate="store in storeList  | itemsPerPage: params.limit" total-items="count" current-page="current" pagination-id="storeListID">
        <td>{{$index + 1 +((params.page-1)*params.limit)}}</td>
        <td>{{store.storeId}}</td>
        <td>{{store.accountInfo.storeName}}</td>
        <td>{{store.accountInfo.category}}</td>
        <td>{{store.branch.length}}</td>
        <td>{{44}}</td>
        <td>{{4}}</td>
        <td>$2000</td>
        <td>$500</td>
        <td>$1600</td>
        <td>$1100</td>           
        <td>
          <a class="action_icon" ui-sref="dashboard.storeView({'id':store._id})">
            <i class="fa fa-eye"></i>
          </a>
          <a class="action_icon" ui-sref="dashboard.storeEdit({'sid':store._id})">
            <i class="fa fa-pencil"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="bottom">
    <div class="tblsubmit"></div>
    <div class="pagination-wrapper">
      <div class="dataTables_length">
        <label>Show upto <select  class="" ng-model="params.limit"> 
            <option  value="10" ng-reflect-value="10">10</option>
            <option  value="25" ng-reflect-value="25">25</option>
            <option  value="50" ng-reflect-value="50">50</option>
            <option  value="100" ng-reflect-value="100">100</option>
          </select> 
        </label>
      </div>
      
      <dir-pagination-controls pagination-id="storeListID" class="tables_paginate"
      boundary-links="true" 
      on-page-change="pageChangeHandler(newPageNumber)"
      direction-links="true" >
      </dir-pagination-controls>
      
    </div>
  </div>
</div>
</div>
