<ul class="nav nav-list">
    <li class=""> <a ui-sref="storeList"><i class="fa fa-archive"></i>Stores</a> </li>
    <li> <a ui-sref="redemption"><i class="fa fa-gift"></i>Redemptions</a> </li>
    <li> <a ui-sref="userList"><i class="fa fa-users"></i>Users</a> </li>
    <li class=""> <a ui-sref="request"><i class="fa fa-list-alt"></i>Requests</a> </li>
    <li class=""> <a  ui-sref="featureList"><i class="fa fa-list-ul"></i>Featured Lists</a> </li>
    <li class=""> <a ui-sref="payment"><i class="fa fa-money"></i>Payments</a> </li>
    <li class=""> <a ui-sref="promotion"><i class="fa fa-users"></i>Promotions</a> </li>
    <li class=""> <a ui-sref="notification"><i class="fa fa-bell"></i>Notifications</a> </li>
    <li class=""> <a ui-sref="location"><i class="fa fa-globe"></i>Countries &AMP; Cities</a> </li> 
    <li class=""> <a ui-sref="searchRequest"><i class="fa fa-search"></i> Search Requests</a> </li>
    <li class=""> <a ui-sref="countryRequest"><i class="fa fa-search"></i> Country Requests</a> </li>
</ul>

     	

      
      
     
    
    