
  <div class="pull-left">
    Giftbomb
    <!--<img class="logo_img" src="./assets/images/logo_giftbomb.png">-->
  </div>
  <div class="pull-right">
    <ul class="user_account"> <li><a><i class="fa fa-users"></i> User Account</a>          
        <ul class="">            
          <!--<li><span>Profile</span></li>-->
          <li ui-sref="newPassword"><span>Change Password</span></li>
          <li ui-sref="login"><span>Logout</span></li>
        </ul>              
      </li></ul></div>        
    
    