<div class="top_nav" ng-include="'views/login/top_nav.html'"></div>
    <div class="container_main">
      <div class="title_page forgot_pass">
        <img class="logo_img" src="../assets/images/logo_giftbomb.png">
        <!--<h3>Gift Bomb</h3>-->
      </div>
      <div class="login">
        <h4 class="login_title">Forgot Password</h4>      
        <p class="forgot_sub_title">Enter your registered Email ID to recieve reset password link</p> 
        <div class="space-6"></div>                       
          <div>
            <div class="form_ele email">
              <label class="block clearfix">Email</label>
              <input type="email" name="email" class="form-control" placeholder="">
            </div>
            
            <div class="form_ele login_btn"><button class="btn" data-toggle="modal" data-target="#pass_reset">Submit</button></div>
          </div>                        
      </div>
    </div>
    <div class="footer login_foot">
      <span class="">Gift Bomb © 2017</span>
    </div>
    
    <!-- Modal -->
<div class="modal fade" id="pass_reset" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
        <p>Password reset link has been sent to entered email ID.</p>
        <button type="button" class="btn btn-default" data-dismiss="modal" onClick="chgLoc()" >OK</button>
      </div>
    </div>
  </div>
</div>

    <script>
       function chgLoc(){
  setTimeout(function(){ window.location.href="#/index"; }, 500);
 }       
    </script>
    
   
    
       
    

