<div class="top_nav" ng-include="'views/login/top_nav.html'"></div>
    <div class="container_main">
      <div class="title_page">
        <img class="logo_img" src="./assets/images/logo_giftbomb.png">
      </div>
      <div class="login">
        <h4 class="login_title">Create New Password</h4>      
        <div class="space-6"></div>                       
          <div>
            <div class="form_ele email">
              <label class="block clearfix">Enter Old Password </label>
              <input type="password" name="email" class="form-control" placeholder="">
            </div>
            
            <div class="form_ele email">
              <label class="block clearfix">New Password </label>
              <input type="password" name="email" class="form-control" placeholder="">
            </div>
            
            <div class="form_ele password">
              <label class="block clearfix">Confirm Password</label>
              <input type="password" name="password" class="form-control" placeholder="">
            </div>
            
            <div class="form_ele login_btn"><button class="btn" ui-sref="login">Cancel</button> <button class="btn" ui-sref="login">Save</button></div>
          </div>                        
      </div>
    </div>
    <div class="footer login_foot">
      <span class="">Gift Bomb © 2017</span>
    </div>