@font-face {
	font-family: 'roboto';
	src: url('../fonts/roboto/roboto-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'roboto-bold';
	src: url('../fonts/roboto/roboto-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'roboto-medium';
	src: url('../fonts/roboto/roboto-medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'roboto-black';
	src: url('../fonts/roboto/roboto-black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
