    <div class="container_main">      
      <div class="login">
        <form ng-submit="setPassword();">
        <h4 class="login_title">Create New Password</h4>      
        <div class="space-6"></div>                       
          <div>
            <div class="form_ele email">
              <label class="block clearfix">Enter Old Password </label>
              <input type="password" pattern=".{8,50}" required title="8 characters minimum" ng-model="user.oldPassword" class="form-control" placeholder="" ng-required="true">
            </div>
            
            <div class="form_ele email">
              <label class="block clearfix">New Password </label>
              <input type="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}" title="Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character" ng-model="user.newPassword" class="form-control" placeholder="" ng-required="true">
            </div>
            
            <div class="form_ele password">
              <label class="block clearfix">Confirm Password</label>
              <input type="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}" ng-model="user.confirmPassword" title="Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character" class="form-control" placeholder="" ng-required="true">
            </div>
            
            <div class="form_ele login_btn">
              <button type="reset" class="btn" >Cancel</button> 
              <button class="btn" type="submit">Save</button></div>
          </div>
          </form>
      </div>
    </div>
    