<div class="top_nav" ng-include="'views/common/top_nav.html'"></div>
<div class="container_main">
      <aside class="container_sidebar" ng-include="'views/common/sidebar.html'">  </aside>
      <div class="container_body">

        <div class="breadcrumbs">
			<ul class="breadcrumb">
				<li> <i class="ace-icon fa fa-home home-icon"></i> Home</li>
				<li class="active">Manage Redemption</li>
			</ul>
		</div>       
        <div class="content_body redemption">    

         <div>

         	<div id="list-table" class="store_list marchent_redemption">
            <div class="tablt_title_cont">
              <h4 class="tablt_title">Redemptions</h4>              
              <div class="input-daterange input-group">
                <label>Date</label>
                <input type="text" class="input-sm form-control" name="start" placeholder="MM/DD/YYYY">
<!--                <span class="input-group-addon">
                  <i class="fa fa-exchange"></i>
                </span>-->
                <input type="text" class="input-sm form-control" name="end" placeholder="MM/DD/YYYY">
              </div>
              
              <div class="form-group export_btn">
                <button class="" >Export <i class="fa fa-share"></i></button>
              </div>
              
                                          
            </div>
            
		      <table  class="list-table display dataTable">
		        <thead >
		          <tr >
		          	<th>REDEMPTION </th>
		            <th>GIFT CARD NUMBER</th>
		            <th>REDEEMED AMOUNT</th>
		            <th>BALANCE AMOUNT</th>
		            <th>ORIGINAL AMOUNT</th>
		            <th>PURCHASE DATE</th>
		          </tr>
		        </thead>
		        <tbody >
		          <tr  class="odd">
		            <td>20/May/2017</td>
		            <td>7766655444</td>
		            <td>$20</td>
		            <td>$80</td>
		            <td>$100</td>            
		            <td>8/May/2017</td>
		          </tr>
		          <tr  class="even">
		            <td>20/May/2017</td>
		            <td>7766655444</td>
		            <td>$20</td>
		            <td>$80</td>
		            <td>$100</td>            
		            <td>8/May/2017</td>
		          </tr>
		        </tbody>
		      </table>

		       <div  class="bottom">
		        <div  class="tblsubmit"></div>
		        <div  class="pagination-wrapper">
		          <div  class="dataTables_length">
		            <label ><span>Show upto</span> 
		            	<select  class=""> 
			            	<option  value="10" ng-reflect-value="10">10</option>
			            	<option  value="25" ng-reflect-value="25">25</option>
			            	<option  value="50" ng-reflect-value="50">50</option>
			            	<option  value="100" ng-reflect-value="100">100</option>
			            </select> 
			        </label>
		          </div>
		          <div  class="table-page-info"><div  aria-live="polite" class="dataTables_info" role="status">records.</div></div>
		          <div  class="dataTables_paginate paging_full_numbers" id="advertiser-details_paginate">
		            <a  class="paginate_button first disabled" data-dt-idx="0" tabindex="0">First</a>
		            <a  class="waves-effect waves-light btn paginate_button previous disabled" data-dt-idx="1" tabindex="0">Prev</a>
		            <span ><a  class="waves-effect waves-light btn paginate_button current" data-dt-idx="2" tabindex="0">1</a></span>
		            <a  class="waves-effect waves-light btn paginate_button next disabled" data-dt-idx="3" tabindex="0">Next</a>
		            <a  class="paginate_button last disabled" data-dt-idx="4" tabindex="0">Last</a>
		          </div>
		        </div>

		      </div>
		    </div>
         </div>

         <hr>

         <div>
         	<div class="filter_table form-group col-xs-12" id="requstList">         		
           		<div class="filter form-group select_location">
                  <label>Location</label>
           				<select class="form-control">
	           					<option>Select Location</option>
	       						<option>Texas</option>
	       						<option>Chicoga</option>
	       						<option>Dallas</option>
	       						<option>Manhattan</option>
	           				</select>
           			</div>
           	</div>
<!--         	<div class="form-group col-md-12 clearfix">
         		<h4 class="pull-left">REDEEMED GIFT CARD LIST : BRANCH NAME  </h4>
         	</div>-->
         	<div id="list-table" class="store_list">
            <div class="tablt_title_cont">
              <h4 class="tablt_title">Redemption : Location Name</h4>
<!--              <div class="form-group export_btn">
                <button class="">Export <i class="fa fa-share"></i></button>
              </div>-->
            </div>
		      <table  class="list-table display dataTable">
		        <thead >
		          <tr >
		          	<th>GIFT CARD No.</th>
		            <th>REDEEMED AMOUNT ($)</th>
		            <th>REDEMPTION DATE</th>
		          </tr>
		        </thead>
		        <tbody >
		          <tr class="odd">
		            <td>123456</td>
		            <td>20</td>
		            <td>8/May/2017</td>
		          </tr>

		          <tr class="even">
		            <td>123456</td>
		            <td>20</td>
		            <td>8/May/2017</td>
		          </tr>		        
		        </tbody>
		      </table>
		    </div>
         </div>

        </div>
      </div>
    </div>
<div class="footer" ng-include="'views/common/footer.html'"></div>
