<ul class="nav nav-list">
    <li class=""> <a ui-sref="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a> </li>
    <li class=""> <a ui-sref="manageRedemption"><i class="fa fa-list-ul"></i> Redemptions</a> </li>
    <li class=""> <a ui-sref="promotion"><i class="fa fa-tags"></i> Promotions</a> </li>
    <li class=""> <a ui-sref="manageStore"><i class="fa fa-home"></i> Store Information</a> </li>
    <li class=""> <a ui-sref="manageDesign"><i class="fa fa-modx"></i> Logo & Design</a> </li>
</ul>

 